# Reddit Scrap Paper

In [12]:
import praw
import pandas as pd

import yfinance as yf

from datetime import datetime

## Notes

#### Rules for "has_check" operator:

- Body of text is greater than a certain length. Must determinte threshold.

## Reddit Connection

In [2]:
reddit = praw.Reddit(client_id="YEqyW7UWul_Pqg",
                     client_secret="IO1NWBdkg19m7ZLJHoxgg087pnHs5g",
                     user_agent="udac_scrape_script")

### Extracting Comments

In [3]:
hot_posts = reddit.subreddit('wallstreetbets').hot(limit=10)
for post in hot_posts:
    print(post.title)

Weekend Discussion Thread for the Weekend of March 05, 2021
WSB Rules - Please Read Before Posting
Me who bought the fucking dips last couple of weeks.
If you don’t commit, you lose. A perfect metaphor.
DFV's Double Down Update Set Record for Most Awards on a Reddit Post
Forbes describes GME investment as "hyper-rational" and "based on highly accurate calculations of specific outcomes" with a high degree of certainty
What Im Doing With My GME Tendies
Professional guide for all you autists on how to deal with your losses!
Me when GME hits $1000
The stockmarket crash soon will be blamed on us I guarantee it

#### Create Dataframe

In [19]:
col_names = ['id', 'title', 'body', 'score', 'url', 'num_comments', 'subreddit',
             'upvote_ratio', 'date_posted', 'domain', 'gilded', 'num_crossposts',
             'over_18', 'author_name']
posts = []
wsb_sub = reddit.subreddit('wallstreetbets')

for post in wsb_sub.top('year',limit=100):
    posts.append([post.id,
                  post.title,
                  post.selftext,
                  post.score,
                  post.url,
                  post.num_comments,
                  post.subreddit,
                  post.upvote_ratio,
                  datetime.utcfromtimestamp(post.created_utc),
                  post.domain,
                  post.gilded,
                  post.num_crossposts,
                  post.over_18,
                  post.author.name])

posts_df = pd.DataFrame(posts, columns=col_names)

In [20]:
posts_df.head()

,id,title,body,score,url,num_comments,subreddit,upvote_ratio,date_posted,domain,gilded,num_crossposts,over_18,author_name
0,l8rf4k,Times Square right now,,391210,https://v.redd.it/x64z70f7eie61,12204,wallstreetbets,0.97,2021-01-30 18:00:38,v.redd.it,52,82,False,SomeGuyInDeutschland
1,l6wu59,UPVOTE so everyone sees we got SUPPORT,,307980,https://i.redd.it/sgoqy8nyt2e61.png,12857,wallstreetbets,0.96,2021-01-28 13:40:34,i.redd.it,27,41,False,vrweensy
2,l78uct,GME YOLO update — Jan 28 2021,,274050,https://i.redd.it/opzucppb15e61.png,23917,wallstreetbets,0.96,2021-01-28 21:06:23,i.redd.it,123,35,False,DeepFuckingValue
3,l846a1,GME YOLO month-end update — Jan 2021,,246887,https://i.redd.it/r557em3t5ce61.png,20765,wallstreetbets,0.96,2021-01-29 21:04:45,i.redd.it,63,30,False,DeepFuckingValue
4,l6x130,CLASS ACTION AGAINST ROBINHOOD. Allowing peopl...,LEAVE ROBINHOOD. They dont deserve to make mon...,219939,https://www.reddit.com/r/wallstreetbets/commen...,18462,wallstreetbets,0.96,2021-01-28 13:49:11,self.wallstreetbets,30,26,False,does-it-mater

In [13]:
post_dct = {}
all_posts = []

for post in wsb_sub.top('year', limit=100):
    post_dct['id'] = post.id
    post_dct['title'] = post.title
    post_dct['body'] = post.selftext
    post_dct['score'] = post.score
    post_dct['url'] = post.url
    post_dct['num_comments'] = post.num_comments
    post_dct['subreddit'] = post.subreddit
    post_dct['upvote_ratio'] = post.upvote_ratio
    post_dct['date_posted'] = datetime.utcfromtimestamp(post.created_utc)
    post_dct['domain'] = post.domain
    post_dct['gilded'] = post.gilded
    post_dct['num_crossposts'] = post.num_crossposts
    post_dct['over_18'] = post.over_18
    post_dct['author_name'] = post.author.name
    all_posts.append(post_dct)

In [18]:
post_dct.keys()

dict_keys(['id', 'title', 'body', 'score', 'url', 'num_comments', 'subreddit', 'upvote_ratio', 'date_posted', 'domain', 'gilded', 'num_crossposts', 'over_18', 'author_name'])

In [14]:
posts_df = pd.DataFrame(all_posts)
posts_df.head()

,id,title,body,score,url,num_comments,subreddit,upvote_ratio,date_posted,domain,gilded,num_crossposts,over_18,author_name
0,lkeqb3,"When a CNBC anchor asks, ""Is the Reddit Army g...",,98795,https://v.redd.it/g2ldstezinh61,2782,wallstreetbets,0.9,2021-02-15 14:28:57,v.redd.it,5,15,False,MortalDanger00
1,lkeqb3,"When a CNBC anchor asks, ""Is the Reddit Army g...",,98795,https://v.redd.it/g2ldstezinh61,2782,wallstreetbets,0.9,2021-02-15 14:28:57,v.redd.it,5,15,False,MortalDanger00
2,lkeqb3,"When a CNBC anchor asks, ""Is the Reddit Army g...",,98795,https://v.redd.it/g2ldstezinh61,2782,wallstreetbets,0.9,2021-02-15 14:28:57,v.redd.it,5,15,False,MortalDanger00
3,lkeqb3,"When a CNBC anchor asks, ""Is the Reddit Army g...",,98795,https://v.redd.it/g2ldstezinh61,2782,wallstreetbets,0.9,2021-02-15 14:28:57,v.redd.it,5,15,False,MortalDanger00
4,lkeqb3,"When a CNBC anchor asks, ""Is the Reddit Army g...",,98795,https://v.redd.it/g2ldstezinh61,2782,wallstreetbets,0.9,2021-02-15 14:28:57,v.redd.it,5,15,False,MortalDanger00

### Gamestop Share Price

In [23]:
def daily_company_prices_volume(ticker, start_date, end_date):
    """
    Returns a company's daily share price and trading volume from Yahoo Finance.
    
    Parameters
    ----------
    ticker (str) : Company's stock market ticker
    start_date (str) : First date to extract data (inclusive).
    end_date (str) : Last date to extract data (exclusive).
    
    """
    company = yf.Ticker(ticker)
    df = company.history(interval="1d", start=start_date, end=end_date).reset_index()
    return df

In [25]:
# Ryan Cohen - founder of Chewy - purchased hist first GME shares on 9/14/20
start_date = "2020-09-01"
end_date = "2021-03-01"
ticker = "GME"

# get historical market data
gme_df = daily_company_prices_volume(ticker, start_date, end_date)

In [27]:
gme_df.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
118,2021-02-22,46.69,48.51,42.4,46.00,19476000,0,0
119,2021-02-23,44.97,46.23,40.0,44.97,7565200,0,0
120,2021-02-24,44.70,91.71,44.7,91.71,83111700,0,0
121,2021-02-25,169.56,184.68,101.0,108.73,150308800,0,0
122,2021-02-26,117.46,142.90,86.0,101.74,91963000,0,0

### AMC Share Price

In [28]:
start_date = "2020-09-01"
end_date = "2021-03-01"
ticker = "AMC"

# get historical market data
amc_df = daily_company_prices_volume(ticker, start_date, end_date)

In [30]:
amc_df.tail()

          Date   Open   High   Low  Close     Volume  Dividends  Stock Splits
118 2021-02-22   5.93   6.68  5.75   6.55  173409000          0             0
119 2021-02-23   6.97   7.86  6.01   7.70  264876400          0             0
120 2021-02-24   7.23   9.83  6.99   9.09  376881800          0             0
121 2021-02-25  10.89  11.00  7.85   8.29  445717400          0             0
122 2021-02-26   8.19   9.01  7.63   8.01  135675300          0             0